{% extends "base.html" %} {% load static %} {% load widget_tweaks %} {% block
title %}Entrar — TechVerso{% endblock %} {% block content %}
<div class="section-page" style="max-width: 440px">
  <div class="section-header">
    <h1 class="glitch-text" data-text="ENTRAR">ENTRAR</h1>
    <p>Bem-vindo de volta ao universo TechVerso</p>
  </div>

  {% include 'messages.html' %}

  <div class="dark-card">
    <form method="post">
      {% csrf_token %} {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:"form-control" }} {% if field.help_text %}
        <small>{{ field.help_text|safe }}</small>
        {% endif %} {% for error in field.errors %}
        <div class="text-danger" style="font-size: 0.82rem; margin-top: 0.3rem">
          {{ error }}
        </div>
        {% endfor %}
      </div>
      {% endfor %}

      <button class="btn-teal w-100 mt-1" type="submit">Entrar</button>
      {% load socialaccount %}

      <!-- Botão Google -->
      <a href="{% provider_login_url 'google' %}" class="btn btn-google">
        <img
          src="https://www.svgrepo.com/show/475656/google-color.svg"
          width="20"
        />
        Entrar com Google
      </a>

      <!-- Botão GitHub -->
      <a href="{% provider_login_url 'github' %}" class="btn btn-github">
        <svg ...><!-- ícone GitHub --></svg>
        Entrar com GitHub
      </a>
    </form>

    <div class="text-center mt-3" style="font-size: 0.85rem">
      <a href="{% url 'password_reset' %}" style="color: #777"
        >Esqueci minha senha</a
      >
    </div>
    <div class="text-center mt-2" style="font-size: 0.85rem; color: #555">
      Não tem conta?
      <a href="{% url 'register' %}" style="color: #00e5ff">Registrar</a>
    </div>
  </div>
</div>

<script src="{% static 'js/password_strength.js' %}"></script>
{% endblock %}
